<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Intelweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>views/queryInterface.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>TwitterServlet</display-name>
    <servlet-name>TwitterServlet</servlet-name>
    <servlet-class>controllers.TwitterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterServlet</servlet-name>
    <url-pattern>/twitter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTimelines</display-name>
    <servlet-name>UserTimelines</servlet-name>
    <servlet-class>controllers.UserTimelines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTimelines</servlet-name>
    <url-pattern>/timelines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVisits</display-name>
    <servlet-name>UserVisits</servlet-name>
    <servlet-class>controllers.UserVisits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVisits</servlet-name>
    <url-pattern>/visits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Venue</display-name>
    <servlet-name>Venue</servlet-name>
    <servlet-class>controllers.Venue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Venue</servlet-name>
    <url-pattern>/venue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NearVenue</display-name>
    <servlet-name>NearVenue</servlet-name>
    <servlet-class>controllers.NearVenue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NearVenue</servlet-name>
    <url-pattern>/nearvenue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDiscussion</display-name>
    <servlet-name>UserDiscussion4</servlet-name>
    <servlet-class>controllers.UserDiscussion4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDiscussion</servlet-name>
    <url-pattern>/user4a</url-pattern>
  </servlet-mapping>
</web-app>