<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Intelweb</display-name>
  <welcome-file-list>
    <welcome-file>twitter</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TwitterServlet</display-name>
    <servlet-name>TwitterServlet</servlet-name>
    <servlet-class>controllers.TwitterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterServlet</servlet-name>
    <url-pattern>/twitter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTimelines</display-name>
    <servlet-name>UserTimelines</servlet-name>
    <servlet-class>controllers.UserTimelines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTimelines</servlet-name>
    <url-pattern>/timelines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVisits</display-name>
    <servlet-name>UserVisits</servlet-name>
    <servlet-class>controllers.UserVisits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVisits</servlet-name>
    <url-pattern>/visits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDiscussion</display-name>
    <servlet-name>UserDiscussion</servlet-name>
    <servlet-class>controllers.UserDiscussion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDiscussion</servlet-name>
    <url-pattern>/location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Venue</display-name>
    <servlet-name>Venue</servlet-name>
    <servlet-class>controllers.Venue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Venue</servlet-name>
    <url-pattern>/venue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NearVenue</display-name>
    <servlet-name>NearVenue</servlet-name>
    <servlet-class>controllers.NearVenue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NearVenue</servlet-name>
    <url-pattern>/nearvenue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearch</display-name>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>controllers.UserSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/userSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenueSearch</display-name>
    <servlet-name>VenueSearch</servlet-name>
    <servlet-class>controllers.VenueSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenueSearch</servlet-name>
    <url-pattern>/venueSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenueVisits</display-name>
    <servlet-name>VenueVisits</servlet-name>
    <servlet-class>controllers.VenueVisits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenueVisits</servlet-name>
    <url-pattern>/VenueVisits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Discussions</display-name>
    <servlet-name>Discussions</servlet-name>
    <servlet-class>controllers.Discussions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Discussions</servlet-name>
    <url-pattern>/discussions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdditionalFeatures</display-name>
    <servlet-name>AdditionalFeatures</servlet-name>
    <servlet-class>controllers.AdditionalFeatures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionalFeatures</servlet-name>
    <url-pattern>/additional_features</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/views/not_found.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/exception.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>TwitterToken</display-name>
    <servlet-name>TwitterToken</servlet-name>
    <servlet-class>controllers.TwitterToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterToken</servlet-name>
    <url-pattern>/twitterToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoursquareToken</display-name>
    <servlet-name>FoursquareToken</servlet-name>
    <servlet-class>controllers.FoursquareToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoursquareToken</servlet-name>
    <url-pattern>/foursquareToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreamVisits</display-name>
    <servlet-name>StreamVisits</servlet-name>
    <servlet-class>controllers.StreamVisits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamVisits</servlet-name>
    <url-pattern>/streams</url-pattern>
  </servlet-mapping>
</web-app>