<div class="container">
<div class="col-lg-4">
	<div class="bs-component">
		<div class="well well-sm">Intelligent Web</div>
	</div>
</div>
<div class="col-lg-4">
	<div class="bs-component">
		<div class="well well-sm">Team BSG</div>
	</div>
</div>
<div class="col-lg-4">
	<div class="bs-component">
		<div class="well well-sm">Social Media</div>
	</div>
</div>
	<ul class="list-unstyled">
		<li class="pull-right"><a href="#top">Back to top</a></li>
	</ul>
	<p>Copyright &copy; BSG Team</p>
</div>
	